## This Jupyter Notebook was made by Mateo Bonnett for the Coursera Applied Data Science Capstone course offered by IBM

Import all necessary packages

In [140]:
import pandas as pd
import numpy as np

Reads the table from a file containing the converted data

In [141]:
data = pd.read_csv('table-1.csv')
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop unnecessary rows, reindex the DataFrame and change the name of the columns

In [142]:
c_data = data[data['Borough']!='Not assigned'].copy()
c_data.index=np.arange(211)
c_data.columns = ['PostalCode', 'Borough', 'Neighborhood']
c_data.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

Make neihborhood cell equal to the Borough cell in rows with not assigned neighborhood

In [143]:
for i in range(211):
    if(c_data.iloc[i]['Neighborhood'] == 'Not assigned'):
        c_data.iloc[i]['Neighborhood'] = c_data.iloc[i]['Borough']

c_data.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

Create a new DataFrame

In [144]:
clean_data = pd.DataFrame(columns=['PostalCode', 'Borough', 'Neighborhood'])
clean_data

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

Look for not unique PostalCode and merge neighborhood values separated by comma

In [145]:
i = 0
for pc in c_data['PostalCode'].unique():
    L = []
    b = c_data[c_data['PostalCode']==pc]['Borough'].reset_index()
    b.drop('index',axis=1, inplace=True)
    bo =b.iloc[0].get(0)
    for j in range(c_data['PostalCode'].count()):
        if pc == c_data['PostalCode'][j]:
            L.append(c_data.iloc[j]['Neighborhood'])
    clean_data.loc[i] = [pc,bo,",".join(L)] 
    i = i+1
    
clean_data.head()

  PostalCode           Borough                     Neighborhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park

In [146]:
clean_data.shape

(103, 3)

Reading the geographical coordinates from the csv file

In [147]:
geo_data = pd.read_csv('Geospatial_Coordinates.csv')
geo_data.columns=['PostalCode', 'Latitude','Longitude']
geo_data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Checking that both DataFrames have the same shape

In [150]:
if geo_data.shape == clean_data.shape:
    print('We are good to go!')

We are good to go!

Sort both DataFrame by PostalCode

In [152]:
clean_data.sort_values(by=['PostalCode'],inplace=True)
clean_data.index=np.arange(103)
clean_data.head()

  PostalCode      Borough                          Neighborhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In [153]:
geo_data.sort_values(by=['PostalCode'], inplace=True)
clean_data.index = np.arange(103)
geo_data.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Create to new columns and give them values found in geo_data

In [168]:
toronto_data = clean_data.copy()
toronto_data['Latitude'] = geo_data['Latitude']
toronto_data['Longitude'] = geo_data['Longitude']

Check if both results have the same coordinates

In [166]:
geo_data[geo_data['PostalCode']=='M2H']

   PostalCode   Latitude  Longitude
17        M2H  43.803762 -79.363452

In [164]:
toronto_data[toronto_data['PostalCode']=='M2H']

   PostalCode     Borough       Neighborhood   Latitude  Longitude
17        M2H  North York  Hillcrest Village  43.803762 -79.363452

In [169]:
toronto_data.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848