## This Jupyter Notebook was made by Mateo Bonnett for the Coursera Applied Data Science Capstone course offered by IBM

Import all necessary packages

In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Madrid.csv',sep=";")
df.head()

   Codigo de barrio  Codigo de distrito al que pertenece Nombre de barrio
0                 1                                    1          PALACIO
1                 1                                    2         IMPERIAL
2                 1                                    3         PACIFICO
3                 1                                    4        RECOLETOS
4                 1                                    5          EL VISO